.wrapper-portfolio{
    width: 100%;
    display: flex;
    justify-content: center;
}

.portfolio-grid{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 55px;
	margin-top: 55px;
	justify-content: space-around;
}

.portfolio-card{
	position: relative;
	width: 34vw;
	height: 19vw;
    background-color: @dark-menu-opacity;
	border: 1px solid @forest-green;
	margin-bottom: 1.3vw;
	cursor: pointer;
}

.portfolio-card-img{
	width: 34vw;
	height: 19vw;
}

.portfolio-card-hover{
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 34vw;
	height: 19vw;
	background: rgba(0, 0, 0, 0.6);
	color: #fff;
	-moz-transition: all 0.25s ease-in-out 0s;
	-webkit-transition: all 0.25s ease-in-out 0s;
	-ms-transition: all 0.25s ease-in-out 0s;
	transition: all 0.25s ease-in-out 0s;
	cursor: pointer;
}

.portfolio-card-hover:hover{
	opacity: 1;
}

.portfolio-card-hover-text{
	font-family: 'Roboto Condensed', sans-serif;
	text-align: center;
	font-size: 18px;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.portfolio-card-hover-text-title{
	font-size: 1.15em;
	margin-bottom: 8px;
}

.portfolio-card-hover-text-description{
	font-size: 0.85em;
}

.modal{
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0px;
	z-index: 2;
	background-color: rgba(0, 0, 0, 0.4);
	display: none;
}

.modal-content{
	width: 65%;
	height: 65%;
	background-color: rgba(0, 0, 0, 0.6);
	color: white;
	margin: 8% auto;
}

.modal-close{
	font-size: 30px;
	float: right;
	font-weight: bold;
	cursor: pointer;
	padding-right: 10px;
	padding-top: 10px;
}