.wrapper-portfolio{
    width: 100%;
    display: flex;
    justify-content: center;
}

.portfolio-grid{
    width: 90%;
    display: flex;
	flex-wrap: wrap;
	margin-top: -50px;
    margin-bottom: 55px;
	justify-content: center;
}

.portfolio-card{
	position: relative;
	width: 23.4vw;
	height: 19vw;
    background-color: @dark-menu-opacity;
	border: 1px solid @forest-green;
}

.portfolio-card-img{
	width: 23.4vw;
	height: 19vw;
}

.portfolio-card-hover{
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 23.4vw;
	height: 19vw;
	background: rgba(255, 255, 255, 0.6);
	-moz-transition: all 0.25s ease-in-out 0s;
	-webkit-transition: all 0.25s ease-in-out 0s;
	-ms-transition: all 0.25s ease-in-out 0s;
	transition: all 0.25s ease-in-out 0s;

	.portfolio-card-hover-text{
		font-family: 'Roboto Condensed', sans-serif;
		text-align: center;
		font-size: 1.3vw;
		display: inline-block;
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100%;
		-moz-transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);

		.portfolio-card-hover-text-title{
			font-size: 1.15em;
			margin-bottom: 3px;
		}

		.portfolio-card-hover-text-languages{
			font-size: 0.8em;
			margin-bottom: 10px;
			color: #444;
		}

		.portfolio-card-hover-text-description{
			font-size: 0.85em;
			margin-bottom: 4vw;
		}
	}

	.project-link, .project-info{
		padding: 5px 10px;
		cursor: pointer;
		border: 1px solid black;
		background-color: rgba(0, 0, 0, 0);
	}
}

.portfolio-card-hover:hover{
	opacity: 1;
}

.modal{
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0px;
	z-index: 2;
	background-color: rgba(0, 0, 0, 0.5);
	display: none;

	.modal-content{
		position: relative;
		width: 55%;
		height: 68%;
		background-color: @forest-green-background;
		color: white;
		margin: 6% auto;

		.modal-close{
			font-size: 30px;
			position: absolute;
			z-index: 5;
			top: 10px;
			right: 10px;
			font-weight: bold;
			cursor: pointer;
			padding: 5px 10px;
			background-color: @forest-green-background;
			border-radius: 50%;
		}

		.modal-link{
			border: 1px solid white;
			background-color: rgba(0, 0, 0, 0);
			color: white;
			position: absolute;
			bottom: 20px;
			left: 20px;
			padding: 10px 20px;
		}

		.modal-github{
			border: 1px solid white;
			background-color: rgba(0, 0, 0, 0);
			color: white;
			position: absolute;
			bottom: 20px;
			right: 20px;
			padding: 10px 20px;
		}

		.modal-img{
			width: 100%;
		}

		.modal-content-text{
			font-family: 'Roboto Condensed', sans-serif;
			width: 90%;
			margin: 18px auto;

			.modal-title{
				font-size: 1.3em;
				font-weight: bold;
				margin-bottom: 5px;
			}

			.modal-languages{
				font-weight: bold;
				color: #888;
			}

			.modal-line{
				margin: 8px 0px;
			}

			.modal-description, .modal-tech{
				line-height: 1.3em;
			}
		}
	}
}
