/* body and container */
body {
	background-image: url(../images/funky-lines.png);
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif
}
.container {
	width: 960px;
	margin: 0 auto;
	color: #777;
	min-height: calc(100vh - 100px);
}

/* navbar */
#topbar {
	background: #fff;
	border: 1px solid #ccc;
	margin-bottom: 30px;
	height: 80px;
	text-align: center;
	vertical-align: middle;
}
#topbar-content {
	margin: 0 auto;
	width: 960px;
}
#topbar-name {
	margin: 0 auto;
	color: #fff;
	background: #4aaaa5;
	height: 100%;
	width: 25%;
	float: left;
	line-height: 80px;
	font-weight: bold;
	font-size: 24px;
}
#topbar-links {
	float: right;
	line-height: 80px;
	color: #bbb;
}
#topbar-links a {
	text-decoration: none;
	color: #777;
	margin-right: 20px;
	margin-left: 20px;
}
#topbar-links a:hover {
	color: #4aaaa5;
	text-decoration: underline;
}
#topbar-links a.disabled {
	pointer-events: none;
	cursor: default;
	font-weight: bold;
	color: #444;
}
#topbar-name, header {
	font-family: Georgia, 'Times New Roman', Times, serif;
}

/* main content of every page */
section {
	padding: 20px;
	background: #fff;
	border: 1px solid #ddd;
	margin-bottom: 40px;
}
header {
	color: #4aaaa5;
	font-size: 24px;
	font-weight: bold;
	padding-top: 18px;
	padding-bottom: 18px;
}

/* about page */
#bio-image {
	float: left;
	width: 25%;
	margin-right:15px; 
	margin-top: 25px;
}
p {
	margin-top: 25px;
	line-height: 1.4em;
}
.separator {
	text-align: center;
}

/* contact page */
.formrow, .submitrow {
	margin-top: 15px;
}
#contact-github {
	margin-top: 25px;
}
#contact-github a {
	color: #777;
}
input {
	width: 445px;
}
.submitrow {
	width: 100px;
	height: 40px;
	background: #4aaaa5;
	text-align: center;
	line-height: 40px;
}
.submitrow a:hover {
	font-weight: bold;
}
.submit-button {
	color: #fff;
	text-decoration: none;
}

/* portfolio page */
.project-picture {
	width: 380px;
	height: 230px;
	float: left;
	padding: 30px;
}
#portfolio {
	position: relative;
}
#portfolio::after {
    content: "";
    clear: both;
    display: table;
}
.project-label {
	width: 380px;
	height: 40px;
	clear: both;
	margin-right: 0;
	position: absolute;
	background: #4aaaa5;
	text-align: center;
	line-height: 40px;
}
#portfolio a {
	text-decoration: none;
	color: #fff;
	font-size: 18px;
}
#portfolio a:hover {
	color: #444;
}
#hangman-label {
	top: 290px;
	left: 50px;
}
#persona-label {
	top: 290px;
	right: 88px;
}
#pokemon-label {
	top: 588px;
	left: 50px;
}
#giphy-label {
	top: 588px;
	right: 88px;
}
#liri-label {
	top: 868px;
	left: 50px;
}
#hcli-label {
	top: 868px;
	right: 88px;
}
#bamazon-label {
	top: 1158px;
	left: 50px;
}
#ff-label {
	top: 1158px;
	right: 88px;
}
#burger-label {
	top: 1438px;
	left: 50px;
}

/* footer */
footer {
	text-align: center;
	line-height: 60px;
	height: 60px;
	border-top: 10px solid #4aaaa5;
	background: #777;
	color: #fff;
}

/* media queries */
@media screen and (max-width: 980px) {
	.container {
		width: 750px;
	}
	#topbar-content {
		width: 750px;
	}
	#topbar-name {
		font-size: 20px;
	}

	/* portfolio */
	.project-picture {
		width: 310px;
		height: 220px;
		float: left;
		padding: 20px;
	}
	.project-label {
		width: 310px;
		height: 30px;
		line-height: 30px;
	}
	#hangman-label {
		top: 280px;
		left: 40px;
	}
	#persona-label {
		top: 280px;
		right: 48px;
	}
	#pokemon-label {
		top: 545px;
		left: 40px;
	}
	#giphy-label {
		top: 545px;
		right: 48px;
	}
	#liri-label {
		top: 800px;
		left: 40px;
	}
	#hcli-label {
		top: 800px;
		right: 48px;
	}
	#bamazon-label {
		top: 1055px;
		left: 40px;
	}
	#ff-label {
		top: 1055px;
		right: 48px;
	}
	#burger-label {
		top: 1310px;
		left: 40px;
	}
}
@media screen and (max-width: 768px) {
	body {
		font-size: 14px;
	}
	.container {
		width: 620px;
	}
	#topbar-content {
		width: 620px;
	}
	#topbar-name {
		font-size: 16px;
	}

	/* portfolio */
	.project-picture {
		width: 265px;
		height: 200px;
		float: left;
		padding: 10px;
	}
	.project-label {
		width: 265px;
		height: 25px;
		line-height: 25px;
	}
	#hangman-label {
		top: 260px;
		left: 30px;
	}
	#persona-label {
		top: 260px;
		right: 38px;
	}
	#pokemon-label {
		top: 482px;
		left: 30px;
	}
	#giphy-label {
		top: 482px;
		right: 38px;
	}
	#liri-label {
		top: 700px;
		left: 30px;
	}
	#hcli-label {
		top: 700px;
		right: 38px;
	}
	#bamazon-label {
		top: 918px;
		left: 30px;
	}
	#ff-label {
		top: 918px;
		right: 38px;
	}
	#burger-label {
		top: 1136px;
		left: 30px;
	}
}
@media screen and (max-width: 640px) {
	body {
		font-size: 12px;
	}
	.container {
		width: 500px;
	}
	#topbar {
		height: 100px;
	}
	#topbar-content {
		width: 500px;
	}
	#topbar-name {
		font-size: 14px;
		float: none;
		height: 60px;
		width: 100%;
		line-height: 60px;
		font-size: 20px;
	}
	#topbar-links {
		float: none;
		height: 40px;
		line-height: 40px;
	}

	/* bio */
	#bio-image {
		width: 80%;
		margin-left: 10%;
		margin-right: 10%;
		margin-bottom: 25px;
	}
	p {
		line-height: 2em;
		font-size: 14px;
	}
	.separator {
		font-size: 10px;
	}

	/* portfolio */
	.project-picture {
		width: 435px;
		height: 300px;
		float: left;
	}
	.project-label {
		width: 435px;
		height: 40px;
		line-height: 40px;
	}
	#hangman-label {
		top: 320px;
	}
	#persona-label {
		top: 640px;
		right: 33px;
	}
	#pokemon-label {
		top: 960px;
	}
	#giphy-label {
		top: 1280px;
		right: 33px;
	}
	#liri-label {
		top: 1600px;
	}
	#hcli-label {
		top: 1920px;
		right: 33px;
	}
	#bamazon-label {
		top: 2240px;
	}
	#ff-label {
		top: 2560px;
		right: 33px;
	}
	#burger-label {
		top: 2880px;
	}
}